a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(107, 107, 107);
    text-decoration: none;
    vertical-align: top;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
}
h2 {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(107, 107, 107);    
}
a.breakfast {
    background-color: antiquewhite;
}
a.chili {
    background-color: rgb(245, 213, 170);
}
a.pancakes {
    background-color: rgb(255, 202, 133);
}
img{
    width: 200px;
    height: auto;
}
img.centerbig {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
ul {
    list-style-image: url(./images/ingredients.png);
    padding-left: 50px;
}